* {
    border: 2px solid black;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* font-size: 20px; */
}

.font-size-1 {
    /* absolute values */
    /* font-size: 10px; */
    /* font-size: small; */
    /* relative values */
    /* font-size: 1em; */
    /* font-size: 1rem; */
    font-size: 50%;
}
.font-size-2 {
    /* font-size: medium; */
    /* font-size: 14px; */
    /* font-size: 2em; */
    font-size: 100%;
}
.font-size-3 {
    /* font-size: x-large; */
    /* font-size: 18px; */
    /* font-size: 3em; */
    font-size: 150%;
}
/* Font weight */
.font-weight {
    font-weight: bold;
}
/* Font Style */
.font-style {
    font-style: italic;
    /* font-style: oblique 21deg; */
}
/* Text transform */
.text-transform {
    text-transform: capitalize;
}
/* Text decoration */
.text-decoration {
    text-decoration-style: double;
    text-decoration-color: darkgreen;
    text-decoration-line: underline;
}
/* Line height */
.text {
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 10px;
}
/* Text align */
.text-align {
    text-align: left;
}
/* Vertical align */
.vertical-align > img {
    vertical-align: baseline;
}
/* Text-shadow */
.text-shadow {
    text-shadow: 1px 1px 1px black;
    display: block;
}
/* Pseudo elements */
.pseudo-elements::first-letter {
    color: red;
    font-size: 26px;
    font-weight: bold;
}

.pseudo-elements::first-line {
    color: blue;
    text-decoration: underline;
}

/* HYPERLINK */

.hyperlink {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.hyperlink:hover {
    color: red;
    text-shadow: 5px 5px 5px black;
}

.hyperlink:visited {
    color: darkslategray;
}

.hyperlink:focus {
    color: yellow;
}

.hyperlink:active {
    color: purple;
    text-shadow: 2px 2px 5px black;
}

/* Margin */
.margin {
    /* margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 10px;
    margin-left: 7px; */

    /* margin: 5px 3px 10px 7px; */
    margin: 10px 5px;
}
.padding {
    /* padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 7px; */

    /* padding: 5px 3px 10px 7px; */
    padding: 10px 5px;
}