* {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    color: magenta;
}
h1, h2, h3 {
    color: blueviolet;
}
#first-article-paragraph {
    font-size: 20px;
}
#second-article-paragraph {
    font-size: 15px;
}
nav > ul > li {
    color: black;
}
section h3 {
    color: inherit;
}
.red-color {
    color: red;
}
h3+p {
    color: darkblue !important;
}
h3~p {
    color: darkorange;
}