/* style.css */
::selection{
	background-color: magenta;
	color: white;
}

h2::before{
	content: 'Web Development ';
	background-color: yellow;
}

h2::after{
	content: ' G4';
	background-color: green;
}

.box{
	background-color: orange;
	width: 150px;
	height: 50px;

	position: relative; 
}

.box::before{
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background-color: red;

	position: absolute;
	right: 0px;
	top: -15px;
}