<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>THIS IS THE MAIN HEADING</h1>
        <nav>
            <ul>
                <li><a href="home/home.html">Home</a></li>
                <li><a href="details/details.html">Details</a></li>
                <li><a href="contact/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>SPORT</h2>
            <article>
                <h3>FOOTBALL</h3>
                <p>Here goes the football content</p>
            </article>
            <article>
                <h3>BASKETBALL</h3>
                <p>Here goes the basketball content</p>
            </article>
        </section>
    </main>
    <aside>
        <h2>ADVERTISE</h2>
        <ul>
            <li><a href="https://www.coca-cola.com/"><span style="display: block;">Coca</span> <span style="color: aqua;">Cola</span></a></li>
        </ul>
    </aside>
</body>
</html>