*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
}

h1{
    color: #fff;
    padding: 3em 0;
    font-size: 30px;
}

article{
    background-color: #fff;
    padding: 5em;
    margin: 20px 0;
}

article h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #B3B3B3;
    padding: 2em 0;
}

.parent{
    border: 5px solid lightcoral;
}

.item{
    background-color: deepskyblue;
    color: #fff;
    padding: 15px 0;
    margin: 5px;
}



/* display:flex */
.example-display-flex{
    display: flex;
    /* flex-direction: row / row-reverse / column / column-reverse */
    flex-direction: row;
}

.example-display-flex .item{
    width: 50px;
}


/* flex-wrap */
.example-wrap{
    display: flex;

    /* flex-wrap: wrap, wrap-reverse, nowrap */
    flex-wrap: wrap;

    /* flex-flow shordhand property for flex-direction and flex-wrap */
    flex-flow: row-reverse wrap;
}

.example-wrap .item{
    width: 150px;
}


/* flex-grow, flex-shrink, flex-basis */
.example-flex{
    display: flex;
    flex-flow: row wrap;
}

.example-flex .item{
    width: 200px;
    
    /* flex shorhand property */
    flex: 1 1 200px;
}



/* align-items */
.example-align-items{
    display: flex;
    height: 250px;

    /* stretch, flex-start, flex-end, center */
    align-items: center;
}

.example-align-items .item{
    width: 50px;  
}

/* align-self */
.example-align-items .item:nth-child(3){
    align-self: stretch;
}


/* justify-content */
.example-justify-content{
    display: flex;

    /* flex-start, flex-end, center, space-evenly, space-around, space-between */
    justify-content: space-between;
}

.example-justify-content .item{
    width: 50px;
}


/* align-content */
.example-align-content{
    display: flex;
    height: 400px;
    flex-wrap: wrap;

    /* space-evenly, space-around, space-between */
    align-content: space-between;
    justify-content: space-between;
}

.example-align-content .item{
    width: 200px;
    height: 30px;
}


/* order */
.example-order{
    display: flex;
    justify-content: space-between;
}

.example-order .item{
    width: 50px;
}

.example-order .item:nth-child(1){
    order: 4;
}

.example-order .item:nth-child(2){
    order: 3;
}

.example-order .item:nth-child(3){
    order: 1;
}

.example-order .item:nth-child(4){
    order: 5;
}

.example-order .item:nth-child(5){
    order: 2;
}