/* styles.css */

/* Relative positioning */
.relative {
    /* position: static; is the default */
    position: relative;
    /* offset values */
    top: 30px;
    left: 150px;

    border: 1px solid grey; 
}

/* Absolute positioning */
.absolute-parent {
    width: 1200px;
    position: relative;
    margin: 50px 0;
    border: 1px solid grey; 

    z-index: 999999;
}

.absolute-child {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: yellow;

    z-index: -10;
}

/* Fixed Position */
.fixed {
    position: fixed;
    bottom: 0;
    right:0;
    background-color: whitesmoke;
    border: 1px solid red;
    font-size: 33px;

    /* z-index: 99; */
}
.float-parent {
    border: 1px solid red;
}
.float {
    width: 80px;
    height: 100px;
    background-color: salmon;

    float: left;
}
/* clearfix */
.clear-style {
    clear: both;
}


#my-page {
    width: 500px;
    margin: 50px auto;
    padding: 5px;
    background-color: #e6e6e6;
}

header {
    height: 100px;
    margin-bottom: 5px;
    background-color: rgb(69, 73, 77);
}

nav {
    height: 30px;
    margin-bottom: 5px;
    background-color: rgb(69, 73, 77);
}

main {
    height: 500px;
    margin-bottom: 5px;

    box-sizing: border-box;
}

.main-content {
    width: 80%;
    height: 500px;
    margin-left: 5px;
    background-color: rgb(69, 73, 77);
    float: right;
}

aside {
    width: 19%;
    height: 500px;
    background-color: rgb(69, 73, 77);
    float: left;
    box-sizing: border-box;
    border: 2px solid red;
}

footer {
    height: 100px;
    background-color: rgb(69, 73, 77);
}

/* styling liks */
#id01:hover {
    background-color: springgreen;
    color: rebeccapurple;
}