/* predefined color names */
nav{
    background-color: gainsboro;
}

/* rgb values */
article{
    color: rgb(54, 150, 156);
}

/* hex value */
h1{
    color: #822e59;
}

/* hsl value */
#logo{
    background-color: hsl(267, 80%, 34%);
    opacity: 0.7;
}

/* rgba values */
#account{
    background-color: rgba(126, 166, 191, 0.6);
}

/* hsla */
#links > a{
    color: hsla(203, 69%, 22%, 0.8);
    background-color: antiquewhite; 
}




/* working with fonts */
@font-face{
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/OpenSans-Bold.ttf");
}

/* google fonts - using import at-rule */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    font-family: Arial, sans-serif;
    font-size: 22px;
}

h1{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
    text-shadow: -15px 20px 8px #fcb900;
}

a{
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#heading{
    font-size: 20px;
}

p{
    font-size: 2rem;
    line-height: 1.5;
    word-spacing: 20px;
    text-align: justify;
}

#account span{
    text-decoration-style: wavy;
    text-decoration-line: overline;
    text-decoration-color: hsla(203, 69%, 22%, 0.8);
    text-decoration-thickness: 3px;
}

#participant span{
    /* shorthand CSS property for text-decoration */
    text-decoration: solid underline red 4px;
}

#account-name{
    background-color: indianred;
}

#account-email{
    vertical-align: -40px;
}