<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Layout</title>
</head>
<body>
    

    <!-- New HTML5 Elements -->

    <!-- Header -->
    <header>
        <h1>HTML Layout</h1>

        <!-- Navigation - main -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <hr />
    <!-- Main content -->
    <main>
        <!-- Section -->
        <section>
            <h2>Sport</h2>

            <!-- Articles -->
            <article>
                <hgroup>
                    <h4>Article 01 heading</h4>
                    <h6>Article 01 sub-heading</h6>
                </hgroup>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas rerum vel distinctio! Illum eius dolores dolorum incidunt ipsam ex sapiente nulla eos repudiandae quae excepturi porro, explicabo blanditiis magnam maxime?</p>
            </article>

            <article>
                <h4>Article 02 heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam ea aliquam velit tempora, laboriosam totam corporis impedit ab, eius odio voluptatibus veritatis qui reiciendis dolor voluptates, quas omnis ex! Natus<p>
            </article>
        </section>
    </main>
    <hr />
    <!-- Aside -->
    <aside>
        <h3>Sidebar menu links</h3>
        <ul>
            <li><a href="#">Link 01</a></li>
            <li><a href="#">Link 02</a></li>
            <li><a href="#">Link 03</a></li>
        </ul>
    </aside>
    <hr />

    <!-- Footer -->
    <footer>
        <p>&copy; SEDC. All rights reserved.</p>
        <!-- secondary navigation / site map -->
        <!-- contact info -->
    </footer>

    <!-- Non-semantic -->
    <div id="donate">
        <p>
            <span id="bigger-font"><a href="#">Donate</a></span> to make our page better!
        </p>

        <ol>
            <li>Click on the link</li>
            <li>Follow the instructions</li>
            <li>Don't be modest!</li>
        </ol>

    </div>
</body>
</html>