@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,500;1,100;1,200;1,700&display=swap');

p {
    font-family: 'Roboto Mono', monospace;
    text-align: justify-all;
}

#header {
    font-family: 'Roboto Mono', monospace;
}

#subheader {
    font-family: 'Russo One', sans-serif;
}

#par {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: rgb(206, 139, 192);
    background-color: #00CCFF;
}

.square {
    width: 200px;
    height: 200px;

    /* background-color: rgba(0, 0, 255, 0.341); */
    background-color: hsl(128,90%,78%);
}

/* fonts */
.font-size {
    font-size: 40px;
}

.font-weight {
    /* font-weight: bold; */
    font-weight: 800;
}

.font-style {
    /* font-style: italic; */
    /* font-style: oblique; */
    font-style: oblique 10deg;
}

.transform {
    text-transform: capitalize;
}

.text-decoration {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}

.line-height-example {
    line-height: 50px;
    letter-spacing: 5px;
    word-spacing: 15px;
    text-align: center;
}

.border-example {
    border: 1px double red;
    padding: 20px;
}

.border-example-child {
    border: inherit
}
.shadow-text {
    text-shadow: 10px 10px 1px black, 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6
}
p::first-letter {
    font-size: 50px;
    color: green;
}

p::first-line {
    color:red;
    padding-left: 30px
}